{:besu-host "localhost"
 :besu-http-port 3100
 :besu-ws-port 3000
 :besu-address-file "/etc/besu/address"
 :besu-validators-file "/etc/besu/seed-validators.json"
 :besu-genesis-file "/etc/besu/genesis.json"}
